.git
.github
.idea
.vscode

**/target
**/__pycache__
**/.pytest_cache
**/.venv
**/*.pyc

.env
.env.*
!.env.example
guide-map*.local.json
*.log
*.iml

catalog
docs
infra
scripts
docker-compose.yml
pom.xml.save
